body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
}

header {
    background-color: #8fb2eb;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header p {
    text-align: center;
    margin: 2px auto;  
    max-width: 1200px;
}


h1 {
    margin: 0;
}

a:hover {
    color: #36414d;
}


.email-link {
    color: #ff5733; 
}

.email-link:hover {
    color: #cc4526; 
}

.linkedin-link {
    color: #033e5e; 
}

.linkedin-link:hover {
    color: #005580; 
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.education-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.degree {
    font-size: 16px;
}

.graduation-date {
    font-size: 16px;
    text-align: right;
}


h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}


.project h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project ul {
    list-style-type: disc;
    margin-bottom: 5px;
    margin-left: 20px;
}

.project ul li {
    margin-bottom: 2px;
    margin: 0px;
    background: #ffffff;
    padding: 1px;
    display: flex;
    
    
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8fb2eb;
    color: rgb(255, 255, 255);
}



